

/* ------------------
    CSS FOR CRUD
--------------------*/
.form-box {
    margin-top: 50px ;
    display: flex;
    justify-content: center;
}

.CRUD-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    max-width: 600px;
}

.CRUD-form label {
    font-family: "system-ui";
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.CRUD-form div {
    display: flex;
    flex-direction: column;
}

.CRUD-form button {
    margin-top: 25px;
    grid-column: span 2;
}

/* ------------------
    CSS FOR LOGIN
-------------------*/
.login-h1{
    margin-top: 100px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login label {
    font-family: "system-ui";
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.login form {
    font-size: 16px;
    font-family: "system-ui";
    margin-top: 15px;
    padding: 35px 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}


/* ---------------------------
    CSS FOR REPETITIVE THINGS
------------------------------*/
/* -------------
     HEADERS
---------------*/

h1 {
    font-family: "system-ui";
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


/* -------------
     BUTTONS
---------------*/
button {
    border: 4px solid #1892c3;
    background-color: white;
    color: #1892c3;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #1892c3;
    color: white;
}